.header {
  padding: 20px 0;
  background: #eaeaea;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
 
@media(max-width: 600px) {
  .navigation {
    flex-wrap: wrap;
    gap: 10px;
  }
  .header {
    padding: 0;
  }
}
  