.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
}

@media(max-width: 600px) {
  .container {
    padding: 10px;
  }
}